<footer class="footer" id="yak5">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__col footer__col--social">
        <h2 class="footer__logo">MoGo</h2>
        <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="footer__social">
          <div class="footer__social-header">
            <b>15k</b>followers
          </div>
          <div class="footer__social-content">
            <span>Follow Us:</span>
            <a class="footer__social-link" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="footer__social-link" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="footer__social-link" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="footer__social-link" href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a>
            <a class="footer__social-link" href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a>
            <a class="footer__social-link" href="#" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="footer__social-link" href="#" target="_blank"><i class="fal fa-basketball-ball"></i></a>
            <a class="footer__social-link" href="#" target="_blank"><i class="fab fa-tumblr"></i></a>
          </div>
        </div>
        <form class="subscribe" action="/" method="POST">
          <input class="subscribe__input" type="email" name="mail" placeholder="Your Email..." />
          <button class="subscribe__button" type="submit">Subscribe</button>
        </form>
      </div>
      <div class="footer__col footer__col--blogs">
        <h3 class="footer__title">Blogs</h3>
        <div class="blogs">
          <div class="blogs__item">
            <img src="img/footer/blogs/1.jpg" alt="">
            <div class="blogs__content">
              <a class="blogs__link" href="#" target="_blank">Lorem ipsum dolor sit amet, consectetur
                adipiscing</a>
              <span class="blogs__date">Jan 9, 2016</span>
            </div>
          </div>
          <div class="blogs__item">
            <img src="img/footer/blogs/2.jpg" alt="">
            <div class="blogs__content">
              <a class="blogs__link" href="#" target="_blank">Consectetur adipiscing elit,
                sed do eiusmod tempor</a>
              <span class="blogs__date">Jan 9, 2016</span>
            </div>
          </div>
          <div class="blogs__item">
            <img src="img/footer/blogs/3.jpg" alt="">
            <div class="blogs__content">
              <a class="blogs__link" href="#" target="_blank">sed do eiusmod tempor
                incididunt ut labore</a>
              <span class="blogs__date">Jan 9, 2016</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__col footer__col--instagram">
        <h3 class="footer__title">Instagram</h3>
        <div class="instagram">
          <div class="instagram__inner">
            <a class="instagram__img" href="#" target="_blank"><img src="img/footer/instagram/1.jpg" alt=""></a>
            <a class="instagram__img" href="#" target="_blank"><img src="img/footer/instagram/2.jpg" alt=""></a>
            <a class="instagram__img" href="#" target="_blank"><img src="img/footer/instagram/3.jpg" alt=""></a>
            <a class="instagram__img" href="#" target="_blank"><img src="img/footer/instagram/4.jpg" alt=""></a>
            <a class="instagram__img" href="#" target="_blank"><img src="img/footer/instagram/5.jpg" alt=""></a>
            <a class="instagram__img" href="#" target="_blank"><img src="img/footer/instagram/6.jpg" alt=""></a>
            <a class="instagram__img" href="#" target="_blank"><img src="img/footer/instagram/7.jpg" alt=""></a>
            <a class="instagram__img" href="#" target="_blank"><img src="img/footer/instagram/8.jpg" alt=""></a>
            <a class="instagram__img" href="#" target="_blank"><img src="img/footer/instagram/9.jpg" alt=""></a>
          </div>
          <a class="instagram__link" href="#" target="_blank">View more photos</a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p class="copyright__text">© 2016 MoGo free PSD template by <span>Laaqiq</span></p>
    </div>
  </div>
</footer>