<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="css/libs.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css" />
  <script src="https://kit.fontawesome.com/1e2c299a2a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/5.1.0/simplebar.css">
  <link rel="stylesheet" href="css/style.min.css" />
  <title>Mogo</title>
</head>