<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a class="logo" href="#">MoGo</a>
      </div>
      <div class="header__burger">
        <span></span>
      </div>
      <nav class="header__menu site-menu menu-js">
        <ul class="site-menu__list">
          <li class="site-menu__item">
            <a class="site-menu__link" href="#yak1">About</a>
          </li>
          <li class="site-menu__item">
            <a class="site-menu__link" href="#yak2">Service</a>
          </li>
          <li class="site-menu__item">
            <a class="site-menu__link" href="#yak3">Work</a>
          </li>
          <li class="site-menu__item">
            <a class="site-menu__link" href="#yak4">Blog</a>
          </li>
          <li class="site-menu__item">
            <a class="site-menu__link" href="#yak5">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>