.about {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0 -15px;
    @include mediaWidthTablet {
        margin-bottom: 50px;
    }
    &__item {
        width: 33.33333%;
        padding: 0 15px;
        @include mediaWidthTablet {
            width: 380px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__inner {
        background-color: #95e1d3;
        position: relative;
    }
    &__inner:hover &__img img {
        opacity: 0.1;
    }
    &__img {
        background: linear-gradient(to top, #fce38a, #f38181);
        transition: transform 0.2s linear;
        img {
            display: block;
            transition: opacity 0.2s linear;
        }
    }
    &__inner:hover &__img {
        transform: translate3d(-10px, -10px, 0);
    }
    &__text {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.2s linear;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        img {
            display: block;
            margin: 0 auto 5px;
        }
    }
    &__inner:hover &__text {
        opacity: 1;
    }
}
