.services {
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 33.33333%;
        padding-left: 90px;
        padding-right: 35px;
        position: relative;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            padding-bottom: 50px;
            border-bottom: 1px solid #e5e5e5;
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            margin-top: 50px;
        }
        &:nth-child(3) {
            @include mediaWidthTabletHorizontal {
                margin-top: 50px;
            }
        }
        &:nth-child(5),
        &:nth-child(6) {
            @include mediaWidthTabletHorizontal {
                border: none;
            }
        }
        @include mediaWidthTabletHorizontal {
            width: 50%;
            border-bottom: 1px solid #e5e5e5;
        }
        &:nth-child(2) {
            @include mediaWidthTablet {
                margin-top: 50px;
            }
        }
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            @include mediaWidthTablet {
                padding-bottom: 50px;
                border-bottom: 1px solid #e5e5e5;
            }
        }
        &:nth-child(6) {
            @include mediaWidthTablet {
                border: none;
            }
        }
        @include mediaWidthTablet {
            width: 100%;
        }
    }
    &__icon {
        position: absolute;
        left: 28px;
        top: 2px;
    }
    &__title {
        text-transform: uppercase;
        color: #333333;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__text {
        font-family: "Roboto";
        font-size: 15px;
        line-height: 24px;
        color: #999999;
    }
}
.section__title--services {
    margin-bottom: 125px;
    @include mediaWidthTabletHorizontal {
        margin-bottom: 65px;
    }
}
